.partial_feedback {
  .feedback_title {
    @include section_title($dark-gray);
  }
  .feedback_recap {
    padding: 20px;
    background-color: $beige;
    border-radius: 3px;
    margin-bottom: 60px;
    .recap_single {
      @include interface_text($dark-gray);
      font-weight: 800;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .feedback_list {
    margin-bottom: 60px;
    .list_user {
      margin-bottom: 20px;
      .user_photo {
        width: 50px;
        height: 50px;
        display: inline-block;  
        img {
          @include border-radius(100px);
        }
      }
      .user_name {
        @include interface_text($dark-gray);
        font-weight: 800;
        margin-left: 10px;
        display: inline-block;
        line-height: 50px;
      }
      .user_date {
        @include tag-card;
        color: $dark-gray;
        line-height: 50px;
        margin-left: 10px;
      }
      .user_feedback {
        @include interface-text($dark-gray);
        margin-top: -20px;
        margin-left: 60px;
      }
    }
  }
}