.main_experiences {
  margin-top: 100px;
  margin-bottom: 100px;
  .experiences_title {
    @include section_title($dark-gray);
    text-align: center;
  }
  .experiences_description {
    text-align: center;
    @include interface-text($dark-gray);
    margin-bottom: 60px;
  }
  .experiences_button {
    @include button($dark-gray, $primary);
    display: inline-block;
    margin-top: 60px;
  }
}


